<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lxhmmc.usercenter">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.lxhmmc.baselibrary.app.BaseApplication"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.RegistActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
